In [1]:
import pandas as pd   # module to work with data in DataFrames.
import seaborn as sns  # module to plot DataFrames in an easy way
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# seaborn comes with default presets (called 'contents') for figure's aesthetics, 
# such as the font size, figure size etc. 
sns.set_context('poster') # other optionss are: 'poster', 'notebook'

## 0. Daten Einlesen

In [3]:
# we read the orignal data
#df = pd.read_csv('dataset.csv')
odf = pd.read_csv('edata.csv', encoding = "ISO-8859-1")

In [4]:
# explore the first entries in your data
odf

,CASE,SERIAL,REF,QUESTNNR,MODE,STARTED,B001_01,B001_02,B001_03,B001_04,...,B022x19,B022x20,FINISHED,Q_VIEWER,LASTPAGE,MAXPAGE,MISSING,MISSREL,TIME_RSI,DEG_TIME
0,Interview-Nummer (fortlaufend),Seriennummer (sofern verwendet),Referenz (sofern im Link angegeben),"Fragebogen, der im Interview verwendet wurde",Interview-Modus,Zeitpunkt zu dem das Interview begonnen hat (E...,0-Frage: 0-0.jpg,0-Frage: 0-1.jpg,0-Frage: 0-2.jpg,0-Frage: 0-3.jpg,...,ZG: Gezogener Code (19),ZG: Gezogener Code (20),Wurde die Befragung abgeschlossen (letzte Seit...,Hat der Teilnehmer den Fragebogen nur angesehe...,"Seite, die der Teilnehmer zuletzt bearbeitet hat","Letzte Seite, die im Fragebogen bearbeitet wurde",Anteil fehlender Antworten in Prozent,Anteil fehlender Antworten (gewichtet nach Rel...,Maluspunkte für schnelles Ausfüllen,Maluspunkte für schnelles Ausfüllen
1,59,NaN,NaN,final,interview,2022-06-23 11:50:35,1,4,2,3,...,18,14,1,0,2,2,0,0,NaN,100
2,65,NaN,NaN,final,interview,2022-06-25 16:01:43,NaN,NaN,NaN,NaN,...,13,16,0,0,2,2,0,0,NaN,100
3,66,NaN,NaN,final,interview,2022-06-27 18:05:03,NaN,NaN,NaN,NaN,...,5,3,0,0,2,2,0,0,NaN,100
4,68,NaN,NaN,final,interview,2022-06-28 14:03:06,4,1,5,3,...,19,16,1,0,2,2,0,0,NaN,100
5,70,NaN,NaN,final,interview,2022-07-04 14:07:53,3,4,5,1,...,2,13,1,0,2,2,0,0,NaN,100
6,73,NaN,NaN,final,interview,2022-07-04 16:21:52,5,4,2,1,...,17,2,0,0,2,2,15,11,NaN,100
7,75,NaN,NaN,final,interview,2022-07-04 16:26:49,4,3,5,1,...,10,20,1,0,2,2,0,0,NaN,100
8,78,NaN,NaN,final,interview,2022-07-04 17:00:34,2,1,5,3,...,12,4,1,0,2,2,0,0,NaN,100
9,80,NaN,NaN,final,interview,2022-07-04 17:44:38,NaN,NaN,NaN,NaN,...,20,1,0,0,2,2,0,0,NaN,100

In [5]:
#select the needed rows
odf=odf.loc[1:,"B001_01":"B020_05"]
odf

,B001_01,B001_02,B001_03,B001_04,B001_05,B002_01,B002_02,B002_03,B002_04,B002_05,...,B019_01,B019_02,B019_03,B019_04,B019_05,B020_01,B020_02,B020_03,B020_04,B020_05
1,1,4,2,3,5,4,2,3,1,5,...,3,2,4,1,5,4,2,5,3,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,4,5,3,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1,5,3,2,3,1,2,4,5,...,1,5,3,2,4,1,4,3,5,2
5,3,4,5,1,2,2,4,1,5,3,...,3,5,1,2,4,3,4,5,2,1
6,5,4,2,1,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4,3,5,1,2,5,1,2,3,4,...,2,5,4,1,3,1,2,3,5,4
8,2,1,5,3,4,4,5,2,1,3,...,2,1,4,5,3,5,1,3,4,2
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,4,5,1,3,NaN,NaN,NaN,NaN,NaN

'B001_01'

In [6]:
#function to get gallery
def get_gallery(str):    
    return '-'
 
#function to get price
def get_price(str):
    return 0

In [15]:
#function to transform df
def transform(odf):
    #get data head
    head = list(odf.columns.values)

    #create new d
    df = pd.DataFrame(columns=['Case','Pciture Series','Picture','Price','Gallery','Rank'])
    
    #iterate through every row
    for i in range(len(odf)):
        
        #iterate through every column
        for j in range(len(head)):
            
            column_head = head[j]
            
            #create new row
            cas = i
            pcs = int(column_head[2] + column_head[3])
            pct = int(column_head[6])
            prc = get_price(column_head)
            gll = get_gallery(column_head)
            rnk = odf.iloc[i, j]
            
            df2 = pd.DataFrame({'Case': [cas],
                    'Pciture Series' : [pcs],
                    'Picture' : [pct],
                    'Price' : [prc],
                    'Gallery' : [gll],
                    'Rank' : [rnk]})
            
            df = pd.concat([df, df2], ignore_index = True, axis = 0)
            
    return df

In [16]:
#create new df
df = transform(odf)
df

    Case Pciture Series Picture Price Gallery Rank
0      0              1       1     0       -    1
1      0              1       2     0       -    4
2      0              1       3     0       -    2
3      0              1       4     0       -    3
4      0              1       5     0       -    5
..   ...            ...     ...   ...     ...  ...
895    8             20       1     0       -  NaN
896    8             20       2     0       -  NaN
897    8             20       3     0       -  NaN
898    8             20       4     0       -  NaN
899    8             20       5     0       -  NaN

[900 rows x 6 columns]

## 1. Daten auf Konsistenz prüfen

In [ ]:
## 1. Daten auf Konsistenz prüfen## 2. Deskriptive Datenanalyse

### Neue Variable: kodiert richtig / falsch

In this experiment observers were asked to classify an image into one of 5 categories. We have also the correct/true category in column 'correct_response'. We can then calculate if the response was correct or not

## 2. Deskriptive Datenanalyse

### Neue Variable: kodiert richtig / falsch

In this experiment observers were asked to classify an image into one of 5 categories. We have also the correct/true category in column 'correct_response'. We can then calculate if the response was correct or not

## 3. Statistische Analyse